html, body {
  color: #4D4D4D;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  min-height: 100%;
}

header {
  font-family: 'Futura';
  font-size: 2em;
  height: 44px;
  background: #88a89c;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(225,213,180,1), 0px 6px 0px 0px rgba(243,130,100,1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(225,213,180,1), 0px 6px 0px 0px rgba(243,130,100,1);
  box-shadow: 0px 3px 0px 0px rgba(225,213,180,1), 0px 6px 0px 0px rgba(243,130,100,1);
}

#connect-soundcloud {
  cursor: pointer;
}

.white {
	color: white;
}

.dark-grey {
  color: #4D4D4D;
}

.red {
  color: #8B0000;
  font-weight: 800;
}

.grey {
  color: #ABABAB;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}

#push {
  height: 30px;
}

footer {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  text-align: center;
  height: 30px;
  padding-top: 4px;
  color: white;

  background: #362827;
  -webkit-box-shadow: 0px -3px 0px 0px rgba(192,65,40,1);
  -moz-box-shadow: 0px -3px 0px 0px rgba(192,65,40,1);
  box-shadow: 0px -3px 0px 0px rgba(192,65,40,1);
}

footer a {
	color: white;
	text-decoration: none;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);